---

import type { Entry } from '../../content/config';
import BlogLayout from '../../layouts/BlogLayout.astro'
import { getCollection } from "astro:content";

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const postsEntries = await getCollection('posts');
  return postsEntries.map((entry: Entry) => ({
    params: { slug: entry.slug }, props: { entry },
  }));
}
// 2. For your template, you can get the entry directly from the prop
const { entry }: {entry: Entry} = Astro.props;
const { Content } = await entry.render();
---
<BlogLayout title="Debug the Mind | Journals">
  
  <div class="content-container">
    <Content />
  </div>

</BlogLayout>

<style lang="scss">
  .content-container {
    line-height: 3rem;
    font-size: large;
  }

  @media (max-width: 768px) {
        .content-container {
            line-height: 2.5rem;
        }
	}
</style>