@use './variables' as *;

@mixin text-gradient($direction, $colors) {
    $list: ();
    @for $i from 1 through length($colors) {
      $list: append($list, nth($colors, $i), comma);
    }
        
    background: linear-gradient($direction, $list);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }

@mixin linear-gradient($direction, $colors...){
  background: linear-gradient($direction, $colors)
}

@mixin hover-light($a-color, $outline-color...){

    a:hover {
      color: $a-color;
      opacity: .9;
      transition: .3s ease-in-out;
      text-shadow: 0 0 .5px $outline-color,
      0 0 .5em $outline-color,
      0 0 .5em $outline-color,
      1px 1px .5em $outline-color,
    }
  }

  
