@forward './mixins';
@use 'variables' as *;

*,*::before, *::after {
    box-sizing: border-box; 
    margin: 0; 
    padding: 0;
    // transition: .3s ease-in-out;

}
html {
    font-family: 'segoe UI', 'Ubuntu-mono', sans-serif;
    background: $bg-primary-dark;
    color: $bg-primary-light;
    transition: .3s ease-in-out;


}
html[data-theme="light"] {
background: $bg-tertiary-light;
color: $bg-secondary-dark;
transition: .3s ease-in-out;

    path.cls-1 {
        stroke: #0f0f0f;
        fill: #dcdcdc;
    }
    .st0 {
        fill:#dcdcdc;
    }
    .st1 {
        fill:none;
    stroke:#0f0f0f;

    }
    .st2 {
        fill:none;
        stroke:#0f0f0f;
        stroke-width:7;
    }

    .st3 {
        fill:#0f0f0f;
        stroke:#0f0f0f;
    }
}

html[data-theme="dark"] {
background: $bg-primary-dark;
color: $bg-secondary-light;
transition: .3s ease-in-out;
    path.cls-1 {
        stroke: #dcdcdc;
        fill: #0f0f0f;
    }
    .st0{fill:#0f0f0f;
    }
    .st1{fill:none;
        stroke:#dcdcdc;
    
    }
    .st2{fill:none;
        stroke:#dcdcdc;
    
    
    }
    .st3{fill:#dcdcdc;
        stroke:#dcdcdc;
    
    }
}

body {
    min-height: 100vh;
    padding-bottom: 64px;
    position: relative;
    footer {
        position: absolute;
        bottom: 0;
    }
}
main {
    padding: auto;
    margin: 0 10%;
    width: 75%;
    line-height: 2em;
    margin-bottom: 64px;
}

a:visited {
text-decoration: none;
}
/* stop body scrolling */
.stop-scrolling {
overflow: hidden;
}

.blog-container {
    width: 75%;
    margin: 64px auto;
    align-items: center;
}

