---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Code && Y">
	<main>
		<p>this is the about page</p>
	</main>
	<script>
		import '../scripts/hamburger.js'
	</script>
</Layout>

<style>

</style>
