---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import underConstruction from '../images/underConstruction.jpg'
---

<Layout title="Code && Y">
	<main>
		<div class="under-construction">
			<img src={underConstruction.src} alt="under construction" />
		</div>
	</main>

	<script>
		import '../scripts/hamburger.js'
	</script>
</Layout>

<style>

under-construction {

	align-items: left;
}
img {
	margin: auto;
	padding-top: 1rem;
	padding-bottom: 1rem;
	display: block;
  	max-width: auto;
  	max-height:auto;
  	width: 80%;
  	/* height: auto; */
}

</style>
