---
import artboard from '../images/artboard.png';
import Layout from '../layouts/Layout.astro';
import Sidebar from '../components/Sidebar.astro';
import Hero from '../components/Hero.astro';
---

<Layout title="Code && Y">
	<div class="container">
		<main>
			<Hero title="Home" body="...is what you (re)build it..." hasImage={false} image={artboard} />
			<hr>
			<section>
				<h1>Welcome Home</h1>
				<p>You have reached my newly redesigned personal website where I blog stuff I am mostly interested about (and I have lots of stuff I am interested about! 🤪). We will explore thoughts, break down concepts, deconstruct ideas, and put them back together into bite-sized nuggets of wisdom! (I hope!)</p>
				<p>Unlilke before, I will try to post stuff as frequent as I possibly could just to keep the site alive. But enough about that! I hope you stick around and enjoy your stay!</p>
			</section>
		</main>
		<Sidebar sideTitle={'Recent Updates'} />
	</div>
	<script>
		import '../scripts/hamburger.js'
	</script>
</Layout>

<style>

main {
	padding: auto;
	margin: 0 10%;
	width: 75%;
	/* font-size: large; */
	/* font-weight: 0; */
	line-height: 2em;	
}

.container {
	display: flex;
	flex-direction: row;
}
section {
	margin-bottom: 64px;
}
section h1{
	margin: 16px 0;
}

</style>
