---
import Layout from '../layouts/Layout.astro';
import Sidebar from '../components/Sidebar.astro';
import Hero from '../components/Hero.astro';
import Home from '../components/SVGComponents/Home.astro';
import Quoter from '../components/Quoter.astro';
export const prerender = false;
---

<Layout title="Debug the mind | Home">
	<div class="container">
		<main>
			<Hero title="~" body="...is where you (re)build it..." hasImage={true}>
			<Home />
			</Hero>	
			<hr>
			<section>
				<h1> Home ~/</h1>
				<p>Hello! I'm Andy! 
				I made this website to post content I'm interested about like web development, open-source, and devops. Also to explore thoughts, break down concepts, deconstruct ideas, and put them back together into something more interesting! Or just write whatever I feel like writing.</p>
			</section>

			<Quoter />
		</main>
		<Sidebar sideTitle={'Tags On Posts'} transition:persist />
	</div>
</Layout>

<style lang='scss'>
.container {
	display: flex;
	flex-direction: row;
}
section {
	margin-bottom: 64px;
}
section h1{
	margin: 16px 0;
}

</style>
