---
import home from '../images/home-darktheme.svg';
import Layout from '../layouts/Layout.astro';
import Sidebar from '../components/Sidebar.astro';
import Hero from '../components/Hero.astro';

---

<Layout title="Debug the Mind | Home">
	<div class="container">
		<main>
			<Hero title="~" body="...is where you (re)build it..." hasImage={true} image={home} />
			<hr>
			<section>
				<h1> Welcome ~/</h1>
				<p>You have reached my (redesigned) personal website where I journal stuff I am mostly interested about (and I have lots of stuff I am interested about! 🤪). We will explore thoughts, break down concepts, deconstruct ideas, and put them back together into bite-sized nuggets of wisdom! (I hope!)</p>
				<p>Unlilke before, I will try to post stuff as frequent as I possibly could just to keep the site alive. But enough about that! I hope you stick around and enjoy your stay!</p>
			</section>
		</main>
		<Sidebar sideTitle={'Tags On Posts'} />
	</div>
</Layout>

<style lang='scss'>

.container {
	display: flex;
	flex-direction: row;
}
// section {
// 	margin-bottom: 64px;
// }
section h1{
	margin: 16px 0;
}

</style>
