---
const { title, url } = Astro.props
import RandomEmoji from "./RandomEmoji.astro"
---
<li><a href={url}>{title}</a>
    <RandomEmoji />
</li>

<style lang='scss'>
    @import '../styles/_variables.scss';
    li {
          list-style: none;
          text-align: left;
          line-height: 2em;
      }
    
      a, a:visited{
        text-decoration: none;
		color: $bg-primary-light;
        font-size: large;
        &:hover {
                opacity: .65;
            }
    }
  </style>