---
const { title, url } = Astro.props
import RandomEmoji from "./RandomEmoji.astro"
---
<li ><a data-theme='dark' href={url}>{title}</a>
    <RandomEmoji />
</li>

<style lang='scss'>
    @import '../styles/_variables.scss';
    li {
          list-style: none;
          text-align: left;
          line-height: 2em;
      }
    
      a, a:visited{
        text-decoration: none;
		color: $bg-primary-light;
        font-size: large;
        &:hover {
                opacity: .65;
            }
    }

    a[data-theme='light'], a:visited[data-theme='light'] {
        color: $bg-primary-dark;
    }
    a[data-theme='dark'], a:visited[data-theme='dark'] {
        color: $bg-secondary-light;
    }
  </style>