---
const { title, url } = Astro.props
import RandomEmoji from "./RandomEmoji.astro"
---
<li data-theme=""><a href={url}>{title}</a>
    <RandomEmoji />
</li>

<style lang='scss'>
    @use '../styles/variables' as *;  
    @use '../styles/mixins' as *;  
    li {
          list-style: none;
          text-align: left;
          line-height: 2em;
      }
    
      a, a:visited{
        text-decoration: none;
		color: $secondary-light;
        font-size: large;
        &:hover {
                opacity: .65;
            }
    }

    li[data-theme='light'] {
        a, a:visited{
        text-decoration: none;
		color: $theme-blue-1;
        font-size: large;}
        @include hover-light($secondary-light, $theme-blue-2)
    }
    li[data-theme='dark'] {
        @include hover-light($secondary-light, $theme-blue-3,)
    }
  </style>