---
interface Props {
    title: string;
    href?: string;
}

const { title, href } = Astro.props
---

<button type="button" class="btn" data-theme=""><a href={href}>{title}</a></button>

<style lang='scss'>
@use '../styles/variables' as *;
	.btn {
		padding: 12px;
		background-color: $primary-dark;
		opacity: .9;
		border-radius: 10px;
		// transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
		box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.1);
    &:hover {
      background-color: $tertiary-dark;
      transition: .2s ease-in-out;
    }
    a{
      width: auto;
      text-decoration: none;
      font-weight: 800;
      line-height: 1.4;
      padding: calc(1.5rem - 1px);
      color: $theme-green-3;
      // opacity: 0.9;
      &:hover {
      color: $theme-green-2;
      transition: .2s ease-in-out;
    }
	}
}

button[data-theme='light'] {
  background-color: $primary-dark;
		opacity: .9;
    &:hover {
      background-color: $tertiary-dark;
    }
  a {
    color: $theme-green-3;
    &:hover {
      color: $theme-green-2;
      transition: .2s ease-in-out;
    }
  }
}
button[data-theme='dark'] {
  background-color: $secondary-dark;
		opacity: .8;
    &:hover {
      background-color: $primary-dark;
      opacity: .75;
    }
  a {
    color: $theme-green-3;
    &:hover {
      color: $theme-green-2;
      transition: .2s ease-in-out;
    }
  }
}
</style>