---

---

<footer data-theme="">
    <div class="footer">

        <span>Copyright &copy; 2023 All Rights Reserved</span>
        <div class="socials">
        <ul>
            <li><a href="https://www.facebook.com/nthskyradiated" target="blank"><i class="fa-brands fa-facebook icons"></i></a></li>
            <li><a href="https://www.instagram.com/radiatednthsky/" target="blank"><i class="fa-brands fa-instagram icons"></i></a></li>
            <li><a href="https://github.com/nthskyradiated" target="blank"><i class="fa-brands fa-github icons"></i></a></li>

        </ul>
    </div>
    </div>

</footer>

<style lang='scss'>
    @import '../styles/_variables.scss';
    footer {
        background-color: $theme-red-2;
        width: 100%;
        padding: 8px 0;
    }
    .footer {
        margin: auto;
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        color: $theme-blue-1;
    }

    .socials {
        margin:  16px 0;
        justify-content: center;
    }

    ul {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        height: auto;
    }
    li {
        list-style: none;
        margin-right: 32px;
        a {
            color: whitesmoke;
            font-size: x-large;
            &:hover {
               opacity: .65;
               transition: .4s ease-in-out;
           }
         }
    }

    footer[data-theme='light'] {
        background-color: $theme-blue-2;
        .footer {
            color: $theme-red-1;
        }
        a, a:visited {
            color: $theme-red-3
        }
    }
    footer[data-theme='dark'] {
        background-color: $theme-red-2;
        .footer {
            color: $theme-blue-1;
        }
        a, a:visited {
            color: $bg-tertiary-light
        }
    }

     @media (max-width: 768px) {

        .footer {
            display: flex;
            flex-direction: column;
            align-items: center;
                span, .socials ul li{
                margin: 0 16px;
                text-align: center;
                list-style: none;
                }
        }
    }
     
</style>