---

---

<footer>
    <div class="footer">

        <span id="footer">Copyright &copy; 2023 All Rights Reserved</span>
        <div class="socials">
        <ul>
            <li><a href="https://www.youtube.com/channel/UClv2C8VRxbQsCjkX1iCWXpg" target="blank"><i class="fa-brands fa-youtube icons"></i></a></li>
            <li><a href="https://github.com/nthskyradiated" target="blank"><i class="fa-brands fa-github icons"></i></a></li>
            <li><a href="https://stackoverflow.com/users/17446205/biscuithammer" target="blank"><i class="fa-brands fa-stack-overflow icons"></i></a></li>
            <li><a href=""></a></li>
        </ul>
    </div>
    </div>

</footer>

<style>
    footer {
        background-color: #5a6773;
        width: 100%;
        padding: 8px 0;
        justify-content: space-between;

    }
    .footer {
        margin: auto;
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .footer p {

        color: whitesmoke;

    }
    .socials {
        margin:  16px 0;
        justify-content: center;
    }

    ul {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        height: auto;
    }
    li {
        list-style: none;
        margin-right: 32px;
    }
    a {
        color: whitesmoke;
        font-size: x-large;
     }
     a:hover {
        opacity: .65;
    }


     @media (max-width: 768px) {
        footer {
            width: auto;
        }
        .footer {
            display: flex;
            flex-direction: column;
            align-items: center;

        }
        span, .socials ul li{
        margin: 0 16px;
        justify-content: center;
        align-items: center;
        text-align: center;

    }
     }
</style>