---
interface Props {
    title: string
    subtitle?: string
}
import ThemeIcon from "./ThemeIcon.astro"
const { title, subtitle} = Astro.props
import Logo from "./SVGComponents/Logo.astro"
import '@fontsource-variable/sora';
import { fade } from "astro:transitions"
---

<header data-theme="" >
    <div class="theme-toggle">
        <ThemeIcon client:load/>
    </div>
    <div class="container">
        <div class="brand-container">
            <div class="logo-container">
                <Logo />
            </div>
            <div class="title-container" transition:animate={fade({ duration: '0.7s' })}>
                <h1>{title}</h1>
                <p>{subtitle}</p>
                
            </div>
        </div>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/posts/1">Posts</a></li>
                </ul>
            </nav>
    </div>
</header>

<style lang='scss'>
@use '../styles/variables' as *;
@use '../styles/mixins' as *;
    header {
        font-family: 'Sora Variable', 'Segoe UI', sans-serif;
        width: 100%;
        padding-bottom: 8px;
        position: relative;
        .container {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: flex-end;
            margin: auto;
            width: 80%;
        }
    }
    .theme-toggle {
        position: absolute;
        left: 12px;
        top: 32px;
    }
    .brand-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: auto;
        gap: 16px;
        align-items: center;
    }
    .title-container {
        display: flex;
        padding: 32px 0;
        flex-direction: column;
        text-align: left;
        color: $theme-red-1;
    }

    ul{
        display: flex;
        flex-direction: row;
    }
    li {
        list-style: none;
        text-align: center;
        align-items: bottom;
        padding-right: 32px;
    }
    a, a:visited{
        text-decoration: none;
        text-transform: uppercase;
        font-size: x-large;
    }
    header[data-theme="light"] {
            background-color: $theme-blue-2;
            @include hover-light($secondary-light, $theme-blue-1);
            @include linear-gradient(-45deg, $theme-blue-1, $theme-blue-3, $theme-blue-2, $theme-blue-1);
        .title-container {
        color: $tertiary-light;
        }
        a, a:visited{
        color: $tertiary-light;
        @include hover-light($secondary-light, $theme-blue-1);
	    }
    }
    header[data-theme="dark"] {
            transition: .3s ease-in-out;
            text-shadow: 0 0 5em $tertiary-light,
                        0 0 10em $tertiary-light;

        a, a:visited{
        color: $secondary-light;
	    }
        .title-container {
        color:  $theme-blue-3;
        }
        @include hover-light($secondary-light, $theme-blue-3)
    }

    @media (max-width: 768px) {

        nav {
            display: none;
        }
    }
    @media (max-width: 540px) {
        .container {
            justify-content: center !important;
            text-align: center;
            margin: auto;
            align-items: center;
        }
        .brand-container {
            display: flex;
            flex-direction: column-reverse;
            width: 50%;
            .title-container {
                text-align: center;
                margin-bottom: -40px
            }
        }
    }
</style>