---
import { getCollection } from 'astro:content';
  const allPosts = await getCollection("blog");
  const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];

interface Props {
    sideTitle: string
}

const {sideTitle} = Astro.props
---

<aside>
    <div class="container">
        <h2>{sideTitle}</h2>
        <ul>
            {tags.map((tag) => <li><a href={`/tag/${tag}`}>{tag}</a></li>)}
            
        </ul>
        </aside>
    </div>
<style>
    
    aside {
        
        width: 25%;
        background-color: #7f8b96;
        color: whitesmoke;
    }
    .container {
        display: flex;
        flex-direction: column;
        margin: 8%;
        padding-bottom: 100px
        width: auto;
        text-align: center;
        align-items: center;
        /* transform: translateY(10%); */
    }
    h2 {

        text-align: left;
        line-height: 2.5rem;
        padding-bottom: 32px;
    }
    li {
        list-style: none;
        text-align: left;
        line-height: 2em;
    }
    a, a:visited{
        text-decoration: none;
        font-size: large;
        color: whitesmoke;
    }
    a:hover {
        opacity: .65;
    }
    @media (max-width: 768px) {
        aside {
            display: none;
        }
	}
</style>