---

interface Props {
    sideTitle: string

}

const {sideTitle} = Astro.props
---

<aside>
    <div class="container">
        <h2>{sideTitle}</h2>
        <ul>
            <li><a href="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus hic labore necessitatibus, commodi cumque quam, ex vero ipsam corporis tempore doloribus dolorem velit laudantium similique.</a></li>
            <li><a href="">some awesome article</a></li>
            <li><a href="">some awesome article</a></li>
            <li><a href="">some awesome article</a></li>
            <li><a href="">some awesome article</a></li>
            
        </ul>
        </aside>
    </div>
<style>
    
    aside {
        
        width: 25%;
        background-color: #7f8b96;
        color: whitesmoke;
        ;

    }
    .container {
        display: flex;
        flex-direction: column;
        margin: 8%;
        width: auto;
        text-align: center;
        align-items: center;
        transform: translateY(25%);
    }
    h2 {

        text-align: left;
        line-height: 1.5em;

    }


    li {
        list-style: none;
        text-align: left;
        line-height: 2em;
        
    }
    a, a:visited{
        text-decoration: none;
        font-size: large;
        color: whitesmoke;
    }

    a:hover {
        opacity: .65;
    }

    @media (max-width: 768px) {
        aside {
            display: none;
        }
	}

</style>