---
import { getCollection } from "astro:content";
import BlogLayout from "../../layouts/BlogLayout.astro";
import RandomEmoji from "../../components/RandomEmoji.astro"
const allPosts = await getCollection("blog");
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
const pageTitle = "Tag Index";
---
<BlogLayout title={pageTitle}>
    <h1> Sorted By Tags</h1>
    <ul>
        {tags.map((tag) => <li><a data-theme='' href={`/tag/${tag}`}>{tag}</a><RandomEmoji /></li>)}
        
    </ul>
    </aside>
</BlogLayout>

  <style lang='scss'>
    @import '../../styles/_variables.scss';
        li {
          list-style: none;
          text-align: left;
          line-height: 2em;
        }
    
      a, a:visited{
        text-decoration: none;
		    color: $bg-secondary-light;
        font-size: large;
        &:hover {
            opacity: .65;
        }
        }
        h1 {
        color: $bg-secondary-light;
        line-height: 2.5rem;
        padding-bottom: 32px;
        }

        html[data-theme='light'] h1{
         color: $bg-secondary-dark;
        
        } 
        a[data-theme='light'], a:visited[data-theme-='light'] {
          color: $bg-secondary-dark;
         }
        html[data-theme='dark'] h1{
         color: $bg-secondary-light;
        
        } 
        a[data-theme='dark'], a:visited[data-theme-='dark'] {
          color: $bg-secondary-light;
         }
  </style>