---
interface Props {
	title: string;
}

const { title } = Astro.props;

import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import Hamburger from '../components/Hamburger.astro';
import '../styles/styles.scss'
import '@fontsource/ubuntu';
import '@fontsource/ubuntu-mono';
---

<!doctype html>
<html lang="en" data-theme="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Code and Y Website" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<script is:inline src="https://kit.fontawesome.com/72852e9073.js" crossorigin="anonymous"></script>
		<title>{title}</title>

		</head>
	<body>
		<Header title={'Debug the Mind Journals'} />
		<Hamburger />
		<div class="blog-container">
		<slot />
		</div>
		<Footer />

	</body>

</html>

<script>
	import '../scripts/hamburger.js'
</script>
