---
interface Props {
	title: string;
}

const { title } = Astro.props;

import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import Aside from '../components/Sidebar.astro'
import Hero from '../components/Hero.astro'
import Card from '../components/Card.astro';
import { ViewTransitions } from 'astro:transitions';
import Hamburger from '../components/Hamburger.astro';
import '@fontsource/ubuntu';
import '@fontsource/ubuntu-mono';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Code and Y Website" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg" href="../../public/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<ViewTransitions />
		<script is:inline src="https://kit.fontawesome.com/72852e9073.js" crossorigin="anonymous"></script>
		<title>{title}</title>
	</head>
	<body>
		<Header title={'code & y'} subtitle={'wait but why but for coding'} />
		<Hamburger />
		<slot />
		<Footer />

	</body>
</html>
<style is:global>
	*,*::before, *::after {
		box-sizing: border-box; 
		margin: 0; 
		padding: 0;
	}

	html {
		font-family: 'segoe UI', 'Ubuntu-mono', sans-serif;
		background: #e9ecee;
		color: #333;
	}

	/* stop body scrolling */
.stop-scrolling {
    overflow: hidden;
}
	code {
		font-family: 'Ubuntu', sans-serif;
	}
</style>
